@import 'nib'

global-reset()
*
  box-sizing: border-box

$base-font-size = 17px
$base-line-factor = (25/17)
$base-line-height = $base-line-factor * 1rem

$rhythm(n = 1)
  n * $base-line-height;

$rel-rhythm(n = 1)
  n * $base-line-factor * 1em;

$small-font-size = (13/17) * 1em

html, body
  font-family: "Merriweather"
  font-size: $base-font-size
  line-height: $base-line-factor
  color: hsl(0, 0%, 10%)

img
  display: block
  width: 100%


.app-setup__space-field
  margin-bottom: 1em


.app
  display: flex
  flex-direction: column
  align-items: center
  margin: auto

.md-content
  em
    font-style: italic
  p
    margin-bottom: $rhythm(1)

  h2
    margin-bottom: $rhythm(1)

$lookbook-slice()
  width: 48rem
  padding: 0 2rem
  margin-left: auto
  margin-right: auto
  box-sizing: content-box

.lookbook
  display: flex
  flex-direction: column

.lookbook__header
  $lookbook-slice()
  margin-top: $rhythm(2)
  margin-bottom: $rhythm(2)
  text-align: center

.lookbook__title
  font-size: 3em
  font-weight: 300
  font-style: italic
  margin-bottom: $rhythm(1)


.lookbook__menu
  $lookbook-slice()
  font-size: $small-font-size
  display: flex
  justify-content: flex-end
  padding: $rel-rhythm(0.5) 0
  border-bottom: 1px solid hsl(0, 0%, 80%)


.lb-section.x--text
  max-width: 75ex


.lb-module
  margin-bottom: $rhythm(2)
  $lookbook-slice()

  &.x--bleed
    padding: 0
    max-width: 76em
    width: 100%

  &.x--2up > .lb-slot
    width: 50%

  &.x--3up > .lb-slot
    width: 50%

  &.x--photo > .lb-slot.x--text
    margin: auto
    padding: 0 2em

  &.x--credits
    text-align: center
    color: hsl(0, 0%, 50%)
    p
      margin: 0

  &.x--text
    h3
      margin-bottom: $rhythm(1)
      font-size: 1.3em
      text-align: center
      text-transform: uppercase


.lb-module.x--photo
  display: flex
  align-items: stretch

.lb-section.x--photo
  display: flex
  align-items: center
  flex-direction: column

.lb-section__photo
  width: calc(100% + 8rem)
  border-radius: 10px


.lb-photo-products
  font-size: $small-font-size
  display: flex
  padding: $rel-rhythm(1) 0
  border-bottom: 1px solid hsl(0, 0%, 87%)

  &__item
    width: 25%
    flex: 0 0 auto
    padding-right: 1em

  &__brand
    text-transform: uppercase
    font-weight: 600
    margin-bottom: $rel-rhythm(0.5)

  &__name
    color: hsl(0, 0%, 40%)

@import './lookbook-index'
